<!DOCTYPE html>
<html>
  <head>
    <link type="stylesheet" href="/resources/bootstrap.min.css" />
    <title>Biblia Leo!</title>
    <style>
      body{
        background: #ddd;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="top-bar">
         <h1>Biblia Leo</h1>
      </div>
     <div id="leading-banner">
        <img src="/resources/bible-bg.jpg" />
     </div>
    </div>
    <script type="text/javascript" src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>